*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-s{
    max-width: 4vw;
    height: 160vh;
    border-right: 1px solid white;
    margin-right: 5px;
    background-color: rgb(37, 37, 37);
    
}